apiVersion: v1
kind: Service
metadata:
  name: kibana
  namespace: cacao-logging
  labels:
    app: kibana
spec:
  ports:
  - port: 5601
  selector:
    app: kibana
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
  namespace: cacao-logging
  labels:
    app: kibana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      containers:
      - name: kibana
        image: docker.elastic.co/kibana/kibana:{{ EFK_ES_KIBANA_VERSION }}
        resources:
          limits:
            cpu: 1000m
          requests:
            cpu: 100m
        env:
          - name: ELASTICSEARCH_URL
            value: http://elasticsearch:9200
          - name: ELASTICSEARCH_USERNAME
            value: "elastic"
          - name: ELASTICSEARCH_PASSWORD
            valueFrom:
              secretKeyRef:
                name: efk-secrets
                key: es.password
          - name: SERVER_BASEPATH
            value: {{ EFK_KIBANA_BASE_PATH }}
          - name: SERVER_PUBLICBASEURL
            value: {{ EFK_KIBANA_URL }}
        ports:
        - containerPort: 5601
